.App {
  font-family: 'Roboto'
}

.App-header {
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: white;
  transition: all 0.3s ease-in-out;
}

.Selection-panel {
  flex: 0 1 auto;
  padding: 15px;
  display: flex;
  justify-content: center;
}
.Selection-panel-wrapper {
  display: flex;
  justify-content: center;
}

.country-selector{
  max-width: 400px;
}

.no-adapter {
  color: #3ee33e;
}

.yes-adapter {
  color: #df2c2c;
}

